# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.venv

# Base de datos
*.db
*.sqlite
*.sqlite3
instance/

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.log
*.tmp
*.bak

# Sistema
.DS_Store
Thumbs.db

# Reportes
*.pdf
*.xlsx